@import url("./reset.css");

.frame {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}



header {
    background-color: #a932b0;
    color: white;
    text-align: center;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;

}

.container {
    background-color: rgb(0, 128, 117);
    padding: 5px;
    margin: 7px;
    border-radius: 1em;
}

article {
    background-color: #f436bb;
    color: white;
    text-align: center;
    padding: 1rem;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0.5rem 0;
    justify-content: space-around;
    border-radius: 1em;
}



aside {
    background-color: #060ea7;
    color: white;
    text-align: center;
    padding: 1rem;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0.25rem 0;
    border-radius: 1em;
   
}



footer {
    background-color: #d46525;
    color: white;
    text-align: center;
    padding: 1rem;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;

}